@font-face {
    font-family: tokyoNight;
    src: url('/fonts/NightinTokyo.ttf');
}

.container {
    display: flex;
}

/* HEADER */
.flower {
    width: 70px;
}
.title {
    position: absolute;
    display: flex;
    align-items: baseline;
    justify-content:center;

    color: pink;
    background-color: rgb(97,85,127, 0.3);
    font-family: tokyoNight, sans-serif;
    font-size: 100px;

    height: 100px;
    margin-top: 80px;
    width: 560px;
    padding: 20px;
}

.backSakura img{
    display: block;
    width: 600px;
    height: 903px;
}
/* HEADER */

/* CONTENT */
.content {
    background-color: purple;
    opacity: 0.25;
    width: 1300px;
}

/* CONTENT */