@font-face {
    font-family: tokyoNight;
    src: url('/fonts/NightinTokyo.ttf');
}

body {
    font-family: tokyoNight, sans-serif;
    background-color: #BFC0C0;
}

/* HEADER */
.header {
    background-color: rgb(53,53,53, 0.5);
    height: 100px;
    margin-top: 80px;
    width: 600px;
    padding: 20px;
}

.title {
    display: flex;
    align-items: baseline;
    justify-content:center;
    font-size: 100px;
    color: pink;
}


/* HEADER */